<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    <title>Atletika Třinec</title>{% endblock %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
    {% include 'sharedLayout.html' %}



    <div class="container d-flex justify-content-left ">
        <div class="row">
            <form action="" method="POST" style="width: 600px;">
                {% csrf_token %}

                <div class="form-row" style="margin-top: 2%;">
                    <div class="form-group col-md-6">
                        <label for="inputState">Jméno</label>
                        <input type="text" name="name" id="name" class="form-control" required>
                    </div>
                </div>

                <div class="form-row" style="margin-top: 2%;">
                    <div class="form-group col-md-6">
                        <label for="inputState">Místo</label>
                        <input type="text" name="place" id="place" class="form-control" required>
                    </div>
                </div>

                <div class="form-row" style="margin-top: 2%;">
                    <div class="form-group col-md-6">
                        <label for="inputState">Datum</label>
                        <input type="text" name="date" id="date" class="form-control" required>
                    </div>
                </div>

                <button type="submit" class="btn btn-secondary" style="float: left;">Vytvořit</button>
            </form>

        </div>
    </div>




</body>
</html>
