<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    <title>Atletika Třinec</title>{% endblock %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
    {% include 'sharedLayout.html' %}



    <div class="container d-flex justify-content-center ">
        <div class="row">
            <form action="" method="POST" style="width: 600px;">
                {% csrf_token %}

                <div class="form-row" style="margin-top: 2%;">
                    <div class="form-group col-md-6">
                        <label for="inputState">Jméno</label>
                        <input type="text" name="firstName" id="firstName" class="form-control" required>
                    </div>
                </div>

                <div class="form-row" style="margin-top: 2%;">
                    <div class="form-group col-md-6">
                        <label for="inputState">Příjmení</label>
                        <input type="text" name="lastName" id="lastName" class="form-control" required>
                    </div>
                </div>

                <div class="form-row" style="margin-top: 2%;">
                    <div class="form-group col-md-6">
                        <label for="inputState">Login</label>
                        <input type="text" name="login" id="login" class="form-control" required>
                    </div>
                </div>

                <div class="form-row" style="margin-top: 2%;">
                    <div class="form-group col-md-6">
                        <label for="inputState">Adresa</label>
                        <input type="text" name="address" id="address" class="form-control" required>
                    </div>
                </div>

                <div class="form-row" style="margin-top: 2%;">
                    <div class="form-group col-md-6">
                        <label for="inputState">Telefón</label>
                        <input type="text" name="telephone" id="telephone" class="form-control" required>
                    </div>
                </div>

                <div class="form-row" style="margin-top: 2%;">
                    <div class="form-group col-md-6">
                        <label for="inputState">Email</label>
                        <input type="text" name="email" id="email" class="form-control" required>
                    </div>
                </div>

                <div class="form-row" style="margin-top: 2%;">
                    <div class="form-group col-md-6">
                        <label for="inputState">Datum narození</label>
                        <input type="text" name="birthday" id="birthday" class="form-control" required>
                    </div>
                </div>

                <div class="form-row" style="margin-top: 2%;">
                    <div class="form-group col-md-6">
                        <label for="inputState">Typ</label>
                        <select name="typeSelect" id="inputState" class="form-control" required>
                            <option value="Atlet">Atlet</option>
                            <option value="Trenér">Trenér</option>
                            <option value="ŠéfTrenér">ŠéfTrenér</option>
                        </select>
                    </div>
                </div>

                <div class="form-row" style="margin-top: 2%;">
                    <div class="form-group col-md-6">
                        <label for="inputState">Kategorie</label>
                        <select name="categorySelect" id="inputState" class="form-control" required>
                            <option value="1">Žák</option>
                            <option value="2">Dorost</option>
                            <option value="3">Junior</option>
                            <option value="4">Dospělý</option>
                        </select>
                    </div>
                </div>

                <button type="submit" class="btn btn-secondary" style="float: left;">Vytvořit</button>
            </form>

        </div>
    </div>




</body>
</html>
