<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    <title>Atletika Třinec</title>{% endblock %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
    {% include 'sharedLayout.html' %}

    <div class="text-left" style="padding-left:20px; padding-top:20px; padding-bottom:20px">
        <input type="submit" class="btn btn-secondary" value="Nový kurz" onclick="window.location='addCourse'" />
    </div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Jméno</th>
                <th scope="col">Místo</th>
                <th scope="col">Datum</th>
                <th scope="col">Popis</th>
                <th scope="col">Typ Licence</th>
                <th scope="col">Platnost</th>
                <th scope="col">Přihlásit se</th>
            </tr>
        </thead>


        {% for course in courses %}
        <tr>
            <th>{{course.name}}</th>
            <th>{{course.place}}</th>
            <th>{{course.date}}</th>
            <th>{{course.description}}</th>
            <th>{{course.typeoflicence}}</th>
            <th>{{course.validuntil}}</th>
            <th>
                <form method="post" action="{% url 'courses' course.cid %}">
                    {% csrf_token %}
                    <input type="submit" class=" btn btn-secondary" value="Přihlásit" />
                </form>
            </th>
        </tr>
        {% endfor %}
    </table>

    <div class="text-right" style="padding-left:20px; padding-bottom:20px; padding-top:20px; padding-right:20px">
        <form action="{% url 'index' %}">
            <input type="submit" class="btn btn-secondary" value="Zpět" />
        </form>
    </div>




</body>
</html>
