<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    <title>Atletika Třinec</title>{% endblock %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
    {% include 'sharedLayout.html' %}


    <div class="text-center" style="margin-top: 2%;">
        Opravdu chcete smazat uživatel <strong> {{user.firstname}} {{user.lastname}} {{user.birthday}}</strong>?
        <div>
            <form method="post">
                {% csrf_token %}
                <input type="submit" value="Ano" name="yes" id="yes" class="btn btn-secondary">
                <input type="submit" value="Ne" name="no" id="no" class="btn btn-secondary">
            </form>
        </div>
    </div>

</body>
</html>
