<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    <title>Atletika Třinec</title>{% endblock %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
    {% include 'sharedLayout.html' %}

    <div class="text-left" style="padding-bottom: 30px; padding-top: 10px; padding-left: 20px">
        <input type="submit" class="btn btn-secondary" value="Správa disciplín" onclick="window.location='disciplines'" />
        <input type="submit" class="btn btn-secondary" value="Správa kategorií" onclick="window.location='categories'" />
    </div>

    <div class="text-left" style="padding-left: 20px">
        <strong><u>Aktuálně přihlášený</u></strong>
        <div>
            Uživatel: <strong>{{user.firstname}} {{user.lastname}}</strong>
        </div>
        <div>
            Narozen: <strong>{{user.birthday}}</strong>
        </div>
        <div>
            Login: <strong>{{user.login}}</strong>
        </div>
        <div>
            Adresa: <strong>{{user.address}}</strong>
        </div>
    </div>

    <div class="text-right" style="padding-left:20px; padding-bottom:20px; padding-top:20px; padding-right:20px">
        <form action="{% url 'index' %}">
            <input type="submit" class="btn btn-secondary" value="Zpět" />
        </form>
    </div>

</body>
</html>
