
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg ">
        <a class="navbar-brand" href="{% url 'index' %}">Atletika Třinec</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Domů <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users' %}">Uživatelé</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'courses' %}">Kurzy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'races' %}">Závody</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'awardEvents' %}">Ocenění</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'settings' %}">Nastavení</a>
                </li>
            </ul>
        </div>
    </nav>