<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    <title>Atletika Třinec</title>{% endblock %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
    {% include 'sharedLayout.html' %}



    <div class="text-left" style="padding-left:20px; padding-bottom:20px; padding-top:20px">
        <input type="submit" class="btn btn-secondary" value="Nový uživatel" onclick="window.location='addUser'" />
    </div>

    <form method="post" action="">
        {% csrf_token %}
        <div class="text-left" style="padding-left:20px; padding-bottom:20px">
            <div>
                <input type="submit" class="btn btn-secondary" value="Žák" id="Žák" name="Žák" />
                <input type="submit" class="btn btn-secondary" value="Dorost" id="Dorost" name="Dorost" />
                <input type="submit" class="btn btn-secondary" value="Junior" id="Junior" name="Junior" />
                <input type="submit" class="btn btn-secondary" value="Dospělý" id="Dospělý" name="Dospělý" />
                <input type="submit" class="btn btn-secondary" value="Vše" id="Vše" name="Vše" />
            </div>

            <div style="padding-top:20px">
                <input type="submit" class="btn btn-secondary" value="Aktivní" id="Aktivní" name="Aktivní" />
                <input type="submit" class="btn btn-secondary" value="Neaktivní" id="Neaktivní" name="Neaktivní" />
            </div>
        </div>
    </form>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Jméno</th>
                <th scope="col">Login</th>
                <th scope="col">Adresa</th>
                <th scope="col">Datum narození</th>
                <th scope="col">Typ</th>
                <th scope="col">Odstranit</th>
            </tr>
        </thead>


        {% for user in users %}
        <tr>
            <th>{{user.firstname}} {{user.lastname}}</th>
            <th>{{user.login}}</th>
            <th>{{user.address}}</th>
            <th>{{user.birthday}}</th>
            <th>{{user.type}}</th>
            <th>
                <form method="post" action="{% url 'deleteUser' user.uid %}">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-secondary" value="Odstranit" />
                </form>
            </th>
        </tr>
        {% endfor %}
    </table>

    <div class="text-right" style="padding-left:20px; padding-bottom:20px; padding-top:20px; padding-right:20px">
        <form action="{% url 'index' %}">
            <input type="submit" class="btn btn-secondary" value="Zpět" />
        </form>
    </div>


</body>
</html>
